<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Conduit App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="//demo.productionready.io/main.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div class="container">
        <%= link_to "conduit", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <% if logged_in? %> <%# ログインしている場合のみ表示 %>
            <li class="nav-item">
              <%= link_to "New Article", new_article_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%# プロフィールへのリンク（オプション） %>
              <%= link_to current_user.username, '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%# ログアウトリンク。method: :delete で SessionsController#destroy を呼び出す %>
              <%= link_to "Logout", logout_path, data: { "turbo-method": :delete }, class: "nav-link" %>
              <%# Rails 6以前の場合: %>
              <%# <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %> <%# ログインしていない場合のみ表示 %>
            <li class="nav-item">
              <%= link_to "Sign in", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", signup_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
